body{
    font-family: Arial, Helvetica;
    background: linear-gradient(45deg, var(--fondoGrad1), var(--fondoGrad2));
    line-height: 1.6em;
    background-size: cover;
    min-height: 97.2vh;
    background-repeat: no-repeat;

    --fondoGrad1: black 0%;
    --fondoGrad2: rgb(247, 141, 2) 50%;
    --colorTablaFondoDestacado: orangered;
    --colorTablaFondoInterno: white;
    --colorFondoBotonHover: rgb(255, 123, 0);
    --colorFondoA: black;
    --colorFondoAHover: var(--colorFondoBotonHover);
}

table {
    border-collapse: collapse;
    margin: auto;
    text-align: center; 
}


td{
    padding-left: 10px;
    padding-right: 10px;
    color: var(--colorFuenteTabla);
}

td, th {
    border: 2px solid black;
}

th {
    background-color: var(--colorTablaFondoDestacado);
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

td:first-child {
    background-color: var(--colorTablaFondoDestacado);
}

td {
    background-color: var(--colorTablaFondoInterno);
    color: black;
}

form {
    background-color: white;
    border: 8px inset black;
    
    width: 60vw;
    margin: auto;
    height: fit-content;
    
    padding: 5vw;
    padding-top: 1vw;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.4vw;
}

.labelDato {
    grid-column: 1;
}

#tituloDetalles {
    grid-column: 1 / 5;
    text-align: center;
    margin: 0;
}

h5 {
    margin: 0;
}

button {
    background:black; 
    color: white;
    font-size:16px; 
    cursor: pointer;
    padding: 10px;
    text-align: center;
}

button:hover {
    background: var(--colorFondoBotonHover);
}

a {
    background-color: var(--colorFondoA);
    color: var(--colorFondoAHover);
    border: 1.5px solid var(--colorFondoAHover);


    padding: 0.1vw;
    width: 30%;
    display: inline-block;
    text-decoration: none;
}

a:hover {
    background-color: var(--colorFondoAHover);
    color: var(--colorFondoA);
    border: 1.5px solid black;
}
